USE [master]
GO
/****** Object:  Database [ShopLapOnline]    Script Date: 7/21/2022 6:39:34 PM ******/
CREATE DATABASE [ShopLapOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopLapOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShopLapOnline.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopLapOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShopLapOnline_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopLapOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopLapOnline]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Account_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
	[Note] [ntext] NULL,
	[Role_ID] [int] NOT NULL,
	[CreatedTime] [datetime] NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Validator] [varchar](64) NULL,
	[Cookie] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Admin_ID] [int] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Image] [ntext] NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Gender] [bit] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[EmailContact] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Brand_ID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
	[PreviewImage] [varchar](200) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Brand_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[PreviewImage] [varchar](100) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_ID] [int] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Image] [ntext] NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Gender] [bit] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[EmailContact] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favourites]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favourites](
	[Favourites_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Favourites_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Feedback_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[OrderDetail_ID] [int] NOT NULL,
	[Comment] [nvarchar](50) NULL,
	[Rating] [smallint] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Feedback_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetail_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Product_ID] [int] NULL,
	[Price] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHistory]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHistory](
	[OrderHistory_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NOT NULL,
	[OrderStatus_ID] [int] NOT NULL,
	[OrderHistoryTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderHistory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Sale_ID] [int] NULL,
	[OrderDate] [datetime] NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[NoteOrder] [ntext] NULL,
	[TotalTransaction] [money] NULL,
	[PayMethod] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderStatus_ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatusName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatus_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[ProductDetail_ID] [int] NOT NULL,
	[Images] [ntext] NULL,
	[Description] [ntext] NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductDetail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[PreviewImage] [ntext] NULL,
	[Insurance] [smallint] NULL,
	[OriginalPrice] [money] NOT NULL,
	[InitialPrice] [money] NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status_ID] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Category_ID] [int] NOT NULL,
	[Brand_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_SpecifiedAttribute]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_SpecifiedAttribute](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NOT NULL,
	[SpecifiedAttributeValue_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStatus]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStatus](
	[Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](200) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Sale_ID] [int] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Image] [ntext] NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Gender] [bit] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[EmailContact] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sale_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SliderColection]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SliderColection](
	[SliderColection_ID] [int] IDENTITY(1,1) NOT NULL,
	[SliderColectionName] [nvarchar](50) NOT NULL,
	[CreatedTime] [datetime] NULL,
	[UpdatedTime] [datetime] NULL,
	[Admin_ID] [int] NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SliderColection_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Slider_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [ntext] NULL,
	[ImageUrl] [ntext] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[SliderColection_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Slider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecifiedAttribute]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecifiedAttribute](
	[SpecifiedAttribute_ID] [int] IDENTITY(1,1) NOT NULL,
	[SpecifiedAttributeName] [nvarchar](50) NOT NULL,
	[SpecifiedAttributeQueryName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecifiedAttribute_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecifiedAttributeValue]    Script Date: 7/21/2022 6:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecifiedAttributeValue](
	[SpecifiedAttributeValue_ID] [int] IDENTITY(1,1) NOT NULL,
	[SpecifiedAttribute_ID] [int] NOT NULL,
	[SpecifiedAttributeValueName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecifiedAttributeValue_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Account_ID], [UserName], [Password], [Status], [Note], [Role_ID], [CreatedTime], [UpdatedTime], [Validator], [Cookie]) VALUES (1, N'anhdvhe151359@fpt.edu.vn', N'271081d8318ce5af78556608d8432f733532850efb7db08b468fccc88ede3270', 1, NULL, 3, CAST(N'2022-05-29T21:42:54.760' AS DateTime), CAST(N'2022-06-04T15:38:51.510' AS DateTime), NULL, N'')
INSERT [dbo].[Accounts] ([Account_ID], [UserName], [Password], [Status], [Note], [Role_ID], [CreatedTime], [UpdatedTime], [Validator], [Cookie]) VALUES (2, N'hoangnguyenht1508@gmail.com', N'271081d8318ce5af78556608d8432f733532850efb7db08b468fccc88ede3270', 1, NULL, 2, CAST(N'2022-05-28T15:05:24.863' AS DateTime), CAST(N'2022-05-28T15:05:24.863' AS DateTime), NULL, NULL)
INSERT [dbo].[Accounts] ([Account_ID], [UserName], [Password], [Status], [Note], [Role_ID], [CreatedTime], [UpdatedTime], [Validator], [Cookie]) VALUES (3, N'vietdang0407@gmail.com', N'271081d8318ce5af78556608d8432f733532850efb7db08b468fccc88ede3270', 1, NULL, 1, CAST(N'2022-05-29T21:55:02.033' AS DateTime), CAST(N'2022-06-06T14:35:04.987' AS DateTime), NULL, N'5f0915178a3f0af5cebe532dc7608fca21a8ece3af39e33066328986c98ee846')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
INSERT [dbo].[Admins] ([Admin_ID], [FullName], [Address], [Phone], [Image], [CreatedTime], [UpdatedTime], [Gender], [DateOfBirth], [EmailContact]) VALUES (3, N'Đặng Việt Anh', N'Hà Nội', N'0368639828', N'', CAST(N'2022-05-29T21:57:38.570' AS DateTime), CAST(N'2022-05-29T21:57:38.570' AS DateTime), 1, CAST(N'2001-07-04' AS Date), N'namlhhe140407@fpt.edu.vn')
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Brand_ID], [BrandName], [PreviewImage], [Description], [CreatedTime], [UpdatedTime], [Status]) VALUES (17825, N'HP', N'hp.png', NULL, CAST(N'2022-05-29T21:41:09.713' AS DateTime), CAST(N'2022-05-29T21:41:09.713' AS DateTime), 1)
INSERT [dbo].[Brands] ([Brand_ID], [BrandName], [PreviewImage], [Description], [CreatedTime], [UpdatedTime], [Status]) VALUES (17826, N'Asus', N'asus.jpg', NULL, CAST(N'2022-05-29T21:41:09.713' AS DateTime), CAST(N'2022-05-29T21:41:09.713' AS DateTime), 1)
INSERT [dbo].[Brands] ([Brand_ID], [BrandName], [PreviewImage], [Description], [CreatedTime], [UpdatedTime], [Status]) VALUES (17827, N'Apple', N'apple.png', NULL, CAST(N'2022-05-29T21:41:09.713' AS DateTime), CAST(N'2022-05-29T21:41:09.713' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Category_ID], [CategoryName], [PreviewImage], [Description], [CreatedTime], [UpdatedTime], [Status]) VALUES (2458, N'Macbook', NULL, NULL, CAST(N'2022-05-29T21:41:09.707' AS DateTime), CAST(N'2022-05-29T21:41:09.707' AS DateTime), 1)
INSERT [dbo].[Categories] ([Category_ID], [CategoryName], [PreviewImage], [Description], [CreatedTime], [UpdatedTime], [Status]) VALUES (5584, N'Laptop Gaming', NULL, NULL, CAST(N'2022-05-29T21:41:09.707' AS DateTime), CAST(N'2022-05-29T21:41:09.707' AS DateTime), 1)
INSERT [dbo].[Categories] ([Category_ID], [CategoryName], [PreviewImage], [Description], [CreatedTime], [UpdatedTime], [Status]) VALUES (29008, N'Laptop 2 trong 1', NULL, NULL, CAST(N'2022-05-29T21:41:09.707' AS DateTime), CAST(N'2022-05-29T21:41:09.707' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[Customers] ([Customer_ID], [FullName], [Address], [Phone], [Image], [CreatedTime], [UpdatedTime], [Gender], [DateOfBirth], [EmailContact]) VALUES (1, N'Đặng Việt Anh', N'Hà Nội', N'0368639828', N'', CAST(N'2022-05-29T21:42:54.780' AS DateTime), CAST(N'2022-05-29T21:42:54.780' AS DateTime), 1, CAST(N'2001-04-06' AS Date), NULL)
INSERT [dbo].[Customers] ([Customer_ID], [FullName], [Address], [Phone], [Image], [CreatedTime], [UpdatedTime], [Gender], [DateOfBirth], [EmailContact]) VALUES (5, N'Kiều Nguyệt', N'Phú Thọ', N'0355928414', N'', CAST(N'2022-06-02T22:33:00.967' AS DateTime), CAST(N'2022-06-02T22:33:00.967' AS DateTime), 0, CAST(N'2001-08-21' AS Date), NULL)
INSERT [dbo].[Customers] ([Customer_ID], [FullName], [Address], [Phone], [Image], [CreatedTime], [UpdatedTime], [Gender], [DateOfBirth], [EmailContact]) VALUES (7, N'Đặng Việt Anh', N'Hưng Yên', N'0368639828', N'', CAST(N'2022-06-03T15:15:07.723' AS DateTime), CAST(N'2022-06-03T15:15:07.723' AS DateTime), 1, CAST(N'2001-04-07' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[Favourites] ON 

INSERT [dbo].[Favourites] ([Favourites_ID], [Customer_ID], [Product_ID], [CreatedTime]) VALUES (12, 1, 151839046, CAST(N'2022-06-20T10:53:30.697' AS DateTime))
INSERT [dbo].[Favourites] ([Favourites_ID], [Customer_ID], [Product_ID], [CreatedTime]) VALUES (13, 1, 151650915, CAST(N'2022-06-20T10:53:40.903' AS DateTime))
INSERT [dbo].[Favourites] ([Favourites_ID], [Customer_ID], [Product_ID], [CreatedTime]) VALUES (14, 1, 149759758, CAST(N'2022-06-24T15:51:58.643' AS DateTime))
SET IDENTITY_INSERT [dbo].[Favourites] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([Feedback_ID], [Customer_ID], [OrderDetail_ID], [Comment], [Rating], [CreatedTime], [UpdatedTime]) VALUES (1, 1, 10, N'Sản phẩm dùng tốt', 5, CAST(N'2022-06-12T03:01:10.197' AS DateTime), CAST(N'2022-06-12T03:01:10.197' AS DateTime))
INSERT [dbo].[Feedbacks] ([Feedback_ID], [Customer_ID], [OrderDetail_ID], [Comment], [Rating], [CreatedTime], [UpdatedTime]) VALUES (3, 1, 3, NULL, 3, CAST(N'2022-06-12T03:01:10.200' AS DateTime), CAST(N'2022-06-12T03:01:10.200' AS DateTime))
INSERT [dbo].[Feedbacks] ([Feedback_ID], [Customer_ID], [OrderDetail_ID], [Comment], [Rating], [CreatedTime], [UpdatedTime]) VALUES (5, 1, 6, N'Sản phẩm này dùng tốt nhé mọi người', 4, CAST(N'2022-06-12T03:02:37.910' AS DateTime), CAST(N'2022-06-12T03:02:37.910' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetail_ID], [Order_ID], [Product_ID], [Price], [Quantity]) VALUES (1, 1, NULL, 213123.0000, 1)
INSERT [dbo].[OrderDetails] ([OrderDetail_ID], [Order_ID], [Product_ID], [Price], [Quantity]) VALUES (2, 1, NULL, 213123.0000, 3)
INSERT [dbo].[OrderDetails] ([OrderDetail_ID], [Order_ID], [Product_ID], [Price], [Quantity]) VALUES (3, 1, 21043975, 213123.0000, 1)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderHistory] ON 

INSERT [dbo].[OrderHistory] ([OrderHistory_ID], [Order_ID], [OrderStatus_ID], [OrderHistoryTime]) VALUES (1, 1, 1, CAST(N'2022-06-12T03:23:24.107' AS DateTime))
INSERT [dbo].[OrderHistory] ([OrderHistory_ID], [Order_ID], [OrderStatus_ID], [OrderHistoryTime]) VALUES (2, 2, 1, CAST(N'2022-06-12T03:23:24.107' AS DateTime))
INSERT [dbo].[OrderHistory] ([OrderHistory_ID], [Order_ID], [OrderStatus_ID], [OrderHistoryTime]) VALUES (3, 5, 1, CAST(N'2022-06-12T03:23:24.107' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_ID], [Customer_ID], [Sale_ID], [OrderDate], [Address], [Phone], [FullName], [Email], [NoteOrder], [TotalTransaction], [PayMethod]) VALUES (1, 1, 2, CAST(N'2022-05-28T15:05:24.870' AS DateTime), N'Hà Tĩnh', N'0945298989', N'Nguyễn Hoàng Nguyên', NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Order_ID], [Customer_ID], [Sale_ID], [OrderDate], [Address], [Phone], [FullName], [Email], [NoteOrder], [TotalTransaction], [PayMethod]) VALUES (2, 1, 2, CAST(N'2022-05-29T15:05:24.870' AS DateTime), N'Hà Tĩnh', N'0945298989', N'Nguyễn Hoàng Nguyên', NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Order_ID], [Customer_ID], [Sale_ID], [OrderDate], [Address], [Phone], [FullName], [Email], [NoteOrder], [TotalTransaction], [PayMethod]) VALUES (5, 5, 2, CAST(N'2022-06-12T03:09:10.923' AS DateTime), NULL, NULL, N'Kieu Nguyet', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([OrderStatus_ID], [OrderStatusName]) VALUES (1, N'Đang xử lý đơn hàng')
INSERT [dbo].[OrderStatus] ([OrderStatus_ID], [OrderStatusName]) VALUES (2, N'Xử lý đơn hàng thành công')
INSERT [dbo].[OrderStatus] ([OrderStatus_ID], [OrderStatusName]) VALUES (3, N'Đơn hàng không được xử lý')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Product_ID], [ProductName], [PreviewImage], [Insurance], [OriginalPrice], [InitialPrice], [UnitPrice], [Quantity], [Status_ID], [CreatedTime], [UpdatedTime], [Category_ID], [Brand_ID]) VALUES (21043975, N'Microsoft Surface Laptop 2 - Core i5-8250U/RAM 8GB/ SSD 128GB - Đã sửa', N'ff3380baa1093ca26514a1f9765278ec.jpg', 12, 30200000.0000, NULL, 31200000.0000, 12, 1, CAST(N'2022-05-29T21:41:09.797' AS DateTime), CAST(N'2022-07-21T18:29:57.233' AS DateTime), 29008, 19246)
INSERT [dbo].[Products] ([Product_ID], [ProductName], [PreviewImage], [Insurance], [OriginalPrice], [InitialPrice], [UnitPrice], [Quantity], [Status_ID], [CreatedTime], [UpdatedTime], [Category_ID], [Brand_ID]) VALUES (37889069, N'Apple Macbook Pro Touch Bar 2019 MV962 - 13 Inchs (i5/ 8GB/ 256GB) - Hàng Chính Hãng', N'98a0be169cc6c1fd9a3d9a5b5eed4e02.jpg', 12, 33990000.0000, NULL, 44450000.0000, 12, 1, CAST(N'2022-05-29T21:41:09.780' AS DateTime), CAST(N'2022-05-29T21:41:09.780' AS DateTime), 2458, 17827)
INSERT [dbo].[Products] ([Product_ID], [ProductName], [PreviewImage], [Insurance], [OriginalPrice], [InitialPrice], [UnitPrice], [Quantity], [Status_ID], [CreatedTime], [UpdatedTime], [Category_ID], [Brand_ID]) VALUES (53827020, N'Laptop Acer Aspire 5 A514-53-50JA NX.HUSSV.002 (Core i5-1035G1/ 4GB RAM/ 256GB SSD/ 14 FHD/ Win 10) - Hàng Chính Hãng', N'99599bf1cdbfa1d4207f4cd517f05bc8.jpg', 12, 15990000.0000, NULL, 15990000.0000, 4, 1, CAST(N'2022-05-29T21:41:09.793' AS DateTime), CAST(N'2022-05-29T21:41:09.793' AS DateTime), 29010, 18803)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Products_SpecifiedAttribute] ON 

INSERT [dbo].[Products_SpecifiedAttribute] ([ID], [Product_ID], [SpecifiedAttributeValue_ID]) VALUES (21, 149759752, 63858)
INSERT [dbo].[Products_SpecifiedAttribute] ([ID], [Product_ID], [SpecifiedAttributeValue_ID]) VALUES (22, 149759752, 63867)
INSERT [dbo].[Products_SpecifiedAttribute] ([ID], [Product_ID], [SpecifiedAttributeValue_ID]) VALUES (23, 149759752, 63883)
GO
SET IDENTITY_INSERT [dbo].[Products_SpecifiedAttribute] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductStatus] ON 

INSERT [dbo].[ProductStatus] ([Status_ID], [StatusName], [CreatedTime], [UpdatedTime]) VALUES (1, N'Còn Hàng', CAST(N'2022-05-29T21:41:09.720' AS DateTime), CAST(N'2022-05-29T21:41:09.720' AS DateTime))
INSERT [dbo].[ProductStatus] ([Status_ID], [StatusName], [CreatedTime], [UpdatedTime]) VALUES (2, N'Hết Hàng', CAST(N'2022-05-29T21:41:09.723' AS DateTime), CAST(N'2022-05-29T21:41:09.723' AS DateTime))
INSERT [dbo].[ProductStatus] ([Status_ID], [StatusName], [CreatedTime], [UpdatedTime]) VALUES (3, N'Ẩn', CAST(N'2022-07-21T14:05:53.460' AS DateTime), CAST(N'2022-07-21T14:05:53.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Role_ID], [RoleName]) VALUES (1, N'ADMIN')
INSERT [dbo].[Roles] ([Role_ID], [RoleName]) VALUES (2, N'SALES')
INSERT [dbo].[Roles] ([Role_ID], [RoleName]) VALUES (3, N'CUSTOMER')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Sales] ([Sale_ID], [FullName], [Address], [Phone], [Image], [CreatedTime], [UpdatedTime], [Gender], [DateOfBirth], [EmailContact]) VALUES (2, N'Nguyễn Hoàng Nguyên', N'Hà Tĩnh', N'0945298989', NULL, CAST(N'2022-05-28T15:05:24.870' AS DateTime), CAST(N'2022-05-28T15:05:24.870' AS DateTime), 1, CAST(N'2000-08-15' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[SliderColection] ON 

INSERT [dbo].[SliderColection] ([SliderColection_ID], [SliderColectionName], [CreatedTime], [UpdatedTime], [Admin_ID], [Status]) VALUES (1, N'ColectionName 1', CAST(N'2022-06-05T23:48:57.067' AS DateTime), CAST(N'2022-06-05T23:48:57.067' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[SliderColection] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([Slider_ID], [Title], [Description], [ImageUrl], [Product_ID], [SliderColection_ID]) VALUES (1, N'Microsoft Surface Pro 2018', N'Microsoft Surface Pro 2018 là 1 phiên bản laptop vĂn phÒNG cao cấp của MSI đầy ấn tượng trong cấu hình siêu đỉnh và thiết kế phong cách, sang chảnh, chắc chắn sẽ chinh phục người dùng trong mọi trải nghiệm.', N'surface pro 6_01.jpg', 21043975, 1)
INSERT [dbo].[Sliders] ([Slider_ID], [Title], [Description], [ImageUrl], [Product_ID], [SliderColection_ID]) VALUES (2, N'Apple Macbook Pro Touch Bar 2019', N'Apple Macbook Pro 13 Touch Bar i5 2.4 256GB 2019 được thiết kế với bộ vi xử lý vô cùng mạnh mẽ, góp phần mang đến hiệu năng vượt trội nhằm đáp ứng được nhiều tác vụ nặng một cách mượt mà nhất. Không những có khả năng hoạt động ấn tượng mà chiếc Macbook Pro 2019 này còn mang đến một thiết kế cao cấp, sang trọng, giúp người dùng có thể dễ dàng thể hiện được phong cách của mình.', N'r-1.jpg', 37889069, 1)
INSERT [dbo].[Sliders] ([Slider_ID], [Title], [Description], [ImageUrl], [Product_ID], [SliderColection_ID]) VALUES (3, N'Laptop Acer Aspire 5 A514-53-50JA NX.HUSSV.002', N'Laptop Acer Aspire 5 A514-54-5127 có trọng lượng chỉ 1,45kg và mỏng 17.95 mm. Điều này quả thật là một điểm sáng mà ai làm văn phòng hoặc sinh viên đều yêu thích. Sẽ thật tuyệt nếu như mang chiếc máy bên mình một cách nhẹ nhàng, không lo bị mỏi vai hoặc vướng víu. ', N'10045677-acer-aspire-5-a514-53-50ja-i5-1035g1-14-inch-1_hwcu-di_mk85-dw.jpg', 53827020, 1)
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[SpecifiedAttribute] ON 

INSERT [dbo].[SpecifiedAttribute] ([SpecifiedAttribute_ID], [SpecifiedAttributeName], [SpecifiedAttributeQueryName]) VALUES (1, N'RAM', N'filter_laptop_memory')
INSERT [dbo].[SpecifiedAttribute] ([SpecifiedAttribute_ID], [SpecifiedAttributeName], [SpecifiedAttributeQueryName]) VALUES (3, N'Kích thước màn hình', N'filter_laptop_screen_size')
INSERT [dbo].[SpecifiedAttribute] ([SpecifiedAttribute_ID], [SpecifiedAttributeName], [SpecifiedAttributeQueryName]) VALUES (4, N'Dung lượng lưu trữ', N'filter_laptop_storage')
SET IDENTITY_INSERT [dbo].[SpecifiedAttribute] OFF
GO
SET IDENTITY_INSERT [dbo].[SpecifiedAttributeValue] ON 

INSERT [dbo].[SpecifiedAttributeValue] ([SpecifiedAttributeValue_ID], [SpecifiedAttribute_ID], [SpecifiedAttributeValueName]) VALUES (63848, 5, N'Intel Core i7')
INSERT [dbo].[SpecifiedAttributeValue] ([SpecifiedAttributeValue_ID], [SpecifiedAttribute_ID], [SpecifiedAttributeValueName]) VALUES (63849, 5, N'Intel Core i5')
INSERT [dbo].[SpecifiedAttributeValue] ([SpecifiedAttributeValue_ID], [SpecifiedAttribute_ID], [SpecifiedAttributeValueName]) VALUES (63850, 5, N'Intel Core i3')
SET IDENTITY_INSERT [dbo].[SpecifiedAttributeValue] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__C9F2845681499BCE]    Script Date: 7/21/2022 6:39:35 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Feedback__53D880E191C0850C]    Script Date: 7/21/2022 6:39:35 PM ******/
ALTER TABLE [dbo].[Feedbacks] ADD UNIQUE NONCLUSTERED 
(
	[OrderDetail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[Favourites] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[ProductDetails] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[ProductDetails] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[ProductStatus] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[ProductStatus] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[SliderColection] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[SliderColection] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[SliderColection] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([Role_ID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Account] FOREIGN KEY([Admin_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_Admin_Account]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[Favourites]  WITH CHECK ADD  CONSTRAINT [FK_Favourite_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customers] ([Customer_ID])
GO
ALTER TABLE [dbo].[Favourites] CHECK CONSTRAINT [FK_Favourite_Customer]
GO
ALTER TABLE [dbo].[Favourites]  WITH CHECK ADD  CONSTRAINT [FK_Favourite_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favourites] CHECK CONSTRAINT [FK_Favourite_Product]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customers] ([Customer_ID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedback_Customer]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_OrderDetail] FOREIGN KEY([OrderDetail_ID])
REFERENCES [dbo].[OrderDetails] ([OrderDetail_ID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedback_OrderDetail]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderHistory_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[OrderHistory] CHECK CONSTRAINT [FK_OrderHistory_Order]
GO
ALTER TABLE [dbo].[OrderHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderHistory_OrderStatus] FOREIGN KEY([OrderStatus_ID])
REFERENCES [dbo].[OrderStatus] ([OrderStatus_ID])
GO
ALTER TABLE [dbo].[OrderHistory] CHECK CONSTRAINT [FK_OrderHistory_OrderStatus]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customers] ([Customer_ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Sale] FOREIGN KEY([Sale_ID])
REFERENCES [dbo].[Sales] ([Sale_ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Sale]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetail_Product] FOREIGN KEY([ProductDetail_ID])
REFERENCES [dbo].[Products] ([Product_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetail_Product]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brands] ([Brand_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Categories] ([Category_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductStatus] FOREIGN KEY([Status_ID])
REFERENCES [dbo].[ProductStatus] ([Status_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_ProductStatus]
GO
ALTER TABLE [dbo].[Products_SpecifiedAttribute]  WITH CHECK ADD  CONSTRAINT [FK_Products_SpecifiedAttribute_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products_SpecifiedAttribute] CHECK CONSTRAINT [FK_Products_SpecifiedAttribute_Product]
GO
ALTER TABLE [dbo].[Products_SpecifiedAttribute]  WITH CHECK ADD  CONSTRAINT [FK_Products_SpecifiedAttribute_SpecifiedAttributeValue] FOREIGN KEY([SpecifiedAttributeValue_ID])
REFERENCES [dbo].[SpecifiedAttributeValue] ([SpecifiedAttributeValue_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products_SpecifiedAttribute] CHECK CONSTRAINT [FK_Products_SpecifiedAttribute_SpecifiedAttributeValue]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Account] FOREIGN KEY([Sale_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sale_Account]
GO
ALTER TABLE [dbo].[SliderColection]  WITH CHECK ADD  CONSTRAINT [FK_SliderColection_Admin] FOREIGN KEY([Admin_ID])
REFERENCES [dbo].[Admins] ([Admin_ID])
GO
ALTER TABLE [dbo].[SliderColection] CHECK CONSTRAINT [FK_SliderColection_Admin]
GO
ALTER TABLE [dbo].[Sliders]  WITH CHECK ADD  CONSTRAINT [FK_Slider_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Sliders] CHECK CONSTRAINT [FK_Slider_Product]
GO
ALTER TABLE [dbo].[Sliders]  WITH CHECK ADD  CONSTRAINT [FK_Slider_SliderColection] FOREIGN KEY([SliderColection_ID])
REFERENCES [dbo].[SliderColection] ([SliderColection_ID])
GO
ALTER TABLE [dbo].[Sliders] CHECK CONSTRAINT [FK_Slider_SliderColection]
GO
ALTER TABLE [dbo].[SpecifiedAttributeValue]  WITH CHECK ADD  CONSTRAINT [FK_SpecifiedAttributeValue_SpecifiedAttribute] FOREIGN KEY([SpecifiedAttribute_ID])
REFERENCES [dbo].[SpecifiedAttribute] ([SpecifiedAttribute_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpecifiedAttributeValue] CHECK CONSTRAINT [FK_SpecifiedAttributeValue_SpecifiedAttribute]
GO
USE [master]
GO
