<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>Controller.Admin.Category.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategory</servlet-name>
        <servlet-class>Controller.Admin.Category.EditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>Controller.Admin.Category.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.Admin.Category.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBrand</servlet-name>
        <servlet-class>Controller.Admin.Brand.AddBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBrand</servlet-name>
        <servlet-class>Controller.Admin.Brand.EditBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBrand</servlet-name>
        <servlet-class>Controller.Admin.Brand.DeleteBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>Controller.Admin.Brand.BrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Controller.Admin.Product.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Controller.Admin.Product.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>Controller.Admin.Product.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.Admin.Product.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.Admin.User.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Controller.Admin.User.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>Controller.Admin.User.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>Controller.Admin.Dashboard.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.Cart.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Controller.Customer.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>Controller.Product.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavouriteController</servlet-name>
        <servlet-class>Controller.Customer.FavouriteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleOrder</servlet-name>
        <servlet-class>Controller.Sales.Order.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboard</servlet-name>
        <servlet-class>Controller.Sales.Dashboard.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/admin/category/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name>
        <url-pattern>/admin/category/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/admin/category/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBrand</servlet-name>
        <url-pattern>/admin/brand/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBrand</servlet-name>
        <url-pattern>/admin/brand/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBrand</servlet-name>
        <url-pattern>/admin/brand/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/admin/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/admin/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/admin/product/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/admin/product/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/admin/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>403</error-code>
        <location>/web-404-error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/web-404-error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>FavouriteController</servlet-name>
        <url-pattern>/wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboard</servlet-name>
        <url-pattern>/sale/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleOrder</servlet-name>
        <url-pattern>/sale/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/admin/users/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/admin/users/edit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
